body
  font-family: 'Overlock', sans-serif
  text-align: center
  font-weight: 400

h1
  font-weight: 900

footer
  position: relative
  p
    display: block
    font:
      size: 0.85em
      weight: 400
  img
    height: 24px
    width: 24px

#output
  margin: 2em
  strong b
    font-weight: 700

.error
  color: red
