body
  font-family: 'Overlock', sans-serif
  text-align: center
  font-weight: 400

h1
  font-weight: 900

#output
  margin: 2em
  strong b
    font-weight: 700

.error
  color: red

footer
  p
    font:
      size: 0.85em
      weight: 400
  img
    height: 24px
    width: 24px

#license
  max-width: 480px
  text-align: justify
  display: none
  margin: auto
  overflow: hidden
