// $font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  // font: 100% $font-stack;
  color: $primary-color;
  background-color: #efefef;
}

.template {
  padding: 40px 15px;
  text-align: center;
}
